.home-hero {

  @include media-breakpoint-up(md) {
    min-height: 500px;  
  }

  color: $white;
  h1,
  h2,
  h3 {
    color: $white;
    font-weight: $font-weight-light;
  }
  .section-content {
    margin-top: 15px;
    
    .hero-content,
    .hero-cta {       
      @include media-breakpoint-up(md) {
        @include make-col-ready();
        @include make-col(7);
      }
      
      p {
        @include media-breakpoint-up(md) {
          width: 100% ! important;
        }

        @include media-breakpoint-down(md) {
          width: 150% ! important;
        }

        @media only screen and (min-width: 900px) {
          width: 105% ! important;
        }

        @include media-breakpoint-down(sm) {
          width: 100% ! important;
        }
      }
    }
    
  }

  .hero-veba-mascot {
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 5s;
    
    @include media-breakpoint-up(lg) {
      @include make-col-ready();
      height: 575px;
      width: 100%;
      position: absolute;
      float: right;
      top: 80px;
      left: 57.5%;
    } 

    @include media-breakpoint-down(lg) {
      height: 575px;
      width: 40%;
      position: absolute;
      float: right;
      top: 150px;
      left: 58.5%;
      background-image: url('/vcenter-event-broker-appliance/assets/img/heroes/veba_banner.png') !important;
    } 
    
    @include media-breakpoint-down(md) {
      flex: 0 0 25%;
      max-width: 40%;
      top: 150px !important;
      right: 0 !important;
      height: 330px;
      background-image: url('/vcenter-event-broker-appliance/assets/img/heroes/veba_banner.png') !important;
    } 

    @include media-breakpoint-down(sm) {
      height: 1px;
      background-image: none !important;
    }
  }

  .hero-cta {
    display: block;
    margin-bottom: 70px;
    @include media-breakpoint-up(md) { 
      display: flex;
      flex-direction: row;
      justify-content: left;
    }
    .btn {
      @include media-breakpoint-up(md) { 
        min-width: 250px;
      }
      padding: {
        top: 16px;
        bottom: 16px;
      }
      margin: 0 32px 0 0;
    }
  }
  
  .section-card {
    margin-top: 68px;
    .section-content {
      background-color: transparent;
      padding: 0;
    }
  }
}

.home-hero:hover .hero-veba-mascot {
  /*transform: scale(1.1);  (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transform: translateX(-20px);
}